@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");



html {
  font-size: 62.5%;
}

.App {
  background-image: url(https://c8.alamy.com/comp/KKP7A5/healthy-food-background-for-recipes-menu-or-list-with-various-fresh-KKP7A5.jpg);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 8rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  color: 		#FFF5EE;
  text-shadow: 0 0.2rem 5rem rgb(139, 69, 19);
  text-transform: uppercase;
  margin: 4rem 0;
}

.search-form {
  width: 60rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#DEB887;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  box-shadow: 1rem 2rem 5rem rgb(255,221,202);
  position: relative;
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: #555;
}

.search-form input[type="submit"] {
  width: 25%;
  text-transform: uppercase;
  background-color: #40b48e;
  color: #fff;
}
